# Login details
login.rb

# Generated .question files
*.question

# Log files
*.log

# Python compiled classes
*.py[cod]

# Ruby compiled classes and gems
*.gem
*.rbc
.bundle
.config

# Virtual environment
venv/

# Configuration files
config.py

# IntelliJ directories and files
bin/
.idea/
gen/
*.iml
.classpath

# Java compiled classes
*.class

# Java package files
*.jar
*.war
*.ear

# Local configuration file
local.properties

# Android built application files
*.apk
*.ap_

# Android files for the dex VM
*.dex
