# Login details
login.rb
*.ini

# Generated .question files
*.question

# Log files
*.log

# Python compiled classes
*.py[cod]

# Ruby compiled classes and gems
*.gem
*.rbc
.bundle
.config

# Virtual environment
venv/

# Configuration files
config.py

# Java IDE
bin/
.idea/
gen/
*.iml
.classpath
.project
.settings

# Java compiled classes
*.class

# Java package files
*.jar
*.war
*.ear

# Maven target dir
target/

# Local configuration file
local.properties

# Vim swap files
*.swp

# Gradle
.gradle
build/
gradle/
gradlew
gradlew.bat

activity-subsumer/src/test/resources
out/
