{% extends "index.html" %}

{% block head %}{% endblock %}

{% block content %}
<!-- Submission form -->   
<form id="submit-form" action="{{ turkSubmitTo }}" method="GET" class="questions">
    <fieldset>
        {% if location == 'atm' %}
        <h2 class="questions-heading">{{ location|upper }}</h2>
        {% elif location == 'rv_park' %}
        <h2 class="questions-heading">RV park</h2>
        {% else %}
        <h2 class="questions-heading">{{ location|replace("_", " ")|capitalize }}</h2>
        {% endif %}
        <p class="lead">{{ description }}</p>
        <div class="submit_form">
            <div class="row">
                <div class="span3">
                    <span class="label label-success" style="font-size:15px">Verb:</span> 
                    <input id="predicate" name="predicate" type="text" class="span4" placeholder="Verb" required>
                    <span class="label label-info" style="font-size:15px">Object:</span> 
                    <input id="object" name="object" type="text" class="span4" placeholder="Object" required>

                    <span class="label" style="font-size:15px">Duration:</span>
                    <select id="duration" name="duration" required>
                        <option value="0m15m">0-15 Minutes</option>
                        <option value="15m30m">15-30 Minutes</option>
                        <option value="30m1h">30 Minutes to 1 Hour</option>
                        <option value="1h2h">1-2 Hours</option>
                        <option value="2h">2 Hours or More</option>
                        <option value="none">None of the Above</option>
                    </select>

                    <span class="label" style="font-size:15px">Time of Day:</span>
                    <div class="checkbox">
                        <label>
                            <input name="time" id="morning" type="checkbox" value="morning" >Morning
                        </label>
                        <label>
                            <input name="time" id="noon" type="checkbox" value="noon" >Noon
                        </label>
                        <label>
                            <input name="time" id="afternoon" type="checkbox" value="afternoon" >Afternoon
                        </label>
                        <label>
                            <input name="time" id="evening" type="checkbox" value="evening" >Evening
                        </label>
                        <label>
                            <input name="time" id="nighttime" type="checkbox" value="nighttime" >Nighttime
                        </label>
                    </div>
                </div>

                <input id="location" name="location" type="hidden" value="{{ location }}">
                <input id="hitId" name="hitId" type="hidden" value="{{ hitId }}">
                <input id="assignmentId" name="assignmentId" type="hidden" value="{{ assignmentId }}">
                <input id="workerId" name="workerId" type="hidden" value="{{ workerId }}">
            </div>

            <div class="outer">
                <hr>
                <p class="lead-small">Can you think of other activities for this location?</p>
                <div class="forms-inline">
                    <div class="controls-row">
                        <label class="radio inline">
                            <input id="r1" name="more" type="radio" value="Yes" required><b>Yes</b>
                        </label>
                        <label class="radio inline">
                            <input id="r2" name="more" type="radio" value="No" required><b>No</b>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <input class="btn btn-large btn-primary" type="submit" value="Submit">
        </div>
    </fieldset>
</form>

{% endblock %}

{% block js %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-transition.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
<script src="{{ url_for('static', filename='js/binary-search.js') }}"></script>

<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
    {% if assignmentId == 'ASSIGNMENT_ID_NOT_AVAILABLE' %}
    $("input").attr("disabled", "true");
{% endif %}

$('#duration').prop('selectedIndex', -1);

var objects = []
var predicates = []
</script>

<script src="{{ url_for('static', filename='js/fetch-predicates.js') }}"></script>
<script src="{{ url_for('static', filename='js/fetch-objects.js') }}"></script>
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/ie9-required.js') }}"></script>

{% endblock %}
