{% extends "location_base.html" %}

{% block head %}

<div class="well">
    <p class="lead-small">You will be given a location type (e.g., Hospital, Aquarium, etc.) and a description of that location. Write down an activity or event that can occur in that location; that is, write a verb (e.g., go, swim, eat, etc.), and an object (e.g., home, food, etc.) in the two forms.<p>
    <p class="lead-small">Some examples to give you a better idea: at a <i>bowling alley</i> you can <span class="label label-success" style="font-size: 17px">go</span> <span class="label label-info" style="font-size:17px">bowling</span>; at a <i>hospital</i> you can <span class="label label-success" style="font-size:17px">visit</span> <span class="label label-info" style="font-size: 17px">doctor</span>.</p>
</div>

<div class="well" style="background-color:#d5f5d5;">
    <p class="lead-small">Previous responders gave the following examples:</p>
    <ul class="lead-small">
        {% for response in responses %}
        <li><span class="label label-success" style="font-size: 17px">{{ response['predicate'] }}</span> <span class="label label-info" style="font-size: 17px">{{ response['object'] }}</span></li>
        {% endfor %}
    </ul>
    <p class="lead-small">These cannot be picked again.</p>
    <p class="lead-small" style="color:#FF0000; text-align:center"><strong>Do not accept this task if you cannot think of other activities.</strong></p>
</div>

<hr>

{% endblock %}
